.col-tam-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 1220px) {
	.col-tam-4 {
		float: center;
	}.col-tam-4 {
    	width: 35%;
  	}
}

@media (max-width: 1219px) and (min-width: 1000px) {
	.col-tam-4 {
		float: center;
	}.col-tam-4 {
    	width: 40%;
  	}
}

@media (max-width: 999px) and (min-width:800px) {
	.col-tam-4 {
		float: center;
	}.col-tam-4 {
    	width: 60%;
  	}
}

