<div class="center-block col-tam-4">
    <h1 class="text-center">Bem vindo</h1>
    <hr>
    <form>
        <div class="form-group">
            <input name="nome" type="text" class="form-control" placeholder="Nome" [(ngModel)]="nome">
        </div>
        <div class="form-group">
            <input name="email" type="text" class="form-control" placeholder="E-mail" [(ngModel)]="email">
        </div>
        <div class="form-group">
            <input name="senha" type="password" class="form-control" placeholder="Senha" [(ngModel)]="senha">
        </div>
        <button class="btn btn-lg btn-block btn-success" (click)="cadastrar()">Cadastrar</button>
        <a class="btn btn-lg btn-block btn-primary" routerLink="/login">Voltar</a>
    </form>
</div>