<div class="center-block col-tam-4">
    <h1 class="text-center">Bem vindo</h1>
    <hr>
    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Nome">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="E-mail">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Senha">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirme sua senha">
        </div>
        <button class="btn btn-lg btn-block btn-success">Cadastrar</button>
        <a class="btn btn-lg btn-block btn-primary" routerLink="/login">Voltar</a>
    </form>
</div>